
body{
    padding-left: 2px;
    background-color:rgb(241, 238, 238);
}

.but{
    background-color: rgb(241, 238, 238);
    border-color: aliceblue;
    border-width: 0px;
    /* border-bottom-width: 1px; */
    padding: 8px 16px;
    cursor: pointer;
    float:left;
}

button:hover{
    background-color: rgb(161, 160, 160);
}

button:active{
    background-color:grey;
    color: black;
}